<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Admin Dashboard</title>
    <style>
        img.large {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div class="w-screen h-screen p-2">

        <!-- Top Bar -->
        <div class="h-20 mb-2 bg-gray-600 flex flex-row justify-between items-center p-4">
            <div class="text-xl text-white">
                Leave Management System
            </div>

            <div class="flex flex-row items-center gap-2">
                <div class="h-10 w-10 rounded-full bg-white">
                </div>
                <div class="text-xl text-white ">
                    Amani Adam
                </div>
            </div>
        </div>
        <!-- End Top Bar -->

        <div class="w-full flex h-full">

            <!-- Side Bar -->
            <div class="w-1/5 bg-gray-600 h-full p-2">
                <button id="dashboardButton" class="text-white bg-black w-full flex justify-start px-2 py-5 mb-1">Dashboard</button>
                <button id="leaveFormButton" class="text-white bg-black w-full flex justify-start px-2 py-5 mb-1">Pending Leave Requests</button>
                <button id="leaveBreakdownButton" class="text-white bg-black w-full flex justify-start px-2 py-5 mb-1">Leave Breakdown</button>
            </div>
            <!-- End Sidebar -->

            <!-- Dashboard Content -->
            <div id="dashboardContent" class="w-4/5 h-full bg-sky-200 p-5 hidden">

                <div class="flex items-center gap-5 bg-slate-50 shadow-2xl rounded-lg">
                    <img src="/assets/workers.png" alt="#" class="large" style="object-fit: cover;position: relative;">
                    <div class="flex flex-col gap-1">
                        <div class="text-2xl">Welcome back..</div>
                        <div class="text-3xl">Irfan Bhati</div>
                        <div class="text-xl">Your dedication to the organization is highly appreciated</div>
                    </div>
                </div>

                <div class="w-full mt-5 flex gap-5">

                    <div class="w-full bg-white rounded-lg shadow-lg flex items-center justify-center h-96">
                        <div class="w-64 h-64 rounded-full bg-sky-200 flex flex-col items-center justify-center">
                            <div>
                                Pending Request
                            </div>
                            <div class="text-xl font-bold">
                                <%= PendingRequests.length %>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End Dashboard Content -->

            <!-- Leave List -->
            <div id="leaveForm" class="w-4/5 h-full bg-sky-200 p-5 hidden overflow-auto">
                <div class="p-4 text-center text-xl font-bold">PENDING LEAVE REQUESTS</div>
                
                <!-- Row component -->
                <div class="w-full flex justify-between p-4 bg-slate-300">
                    <div class="font-bold">STAFF NAME</div>
                    <div class="font-bold">LEAVE TYPE</div>
                    <div class="font-bold">APPLIED DATE</div>
                    <div class="font-bold">ACTION</div>
                </div>
                <!-- End row component -->

                <% if (PendingRequests.length === 0) { %>
                    <div class="p-4 text-center italic text-red-900">No Pending requests</div>
                    <% } else { %>
                    <% let counter = 1; %>
                    <% PendingRequests.forEach(request => { %>
                            <!-- Row component -->
                        <div class="w-full flex justify-between p-4 bg-slate-300">
                            <div><%= counter %>. Love Adam</div>
                            <div>Casual Type</div>
                            <div><%= new Date(request.request_date).getDate() + "/" +  ( new Date(request.request_date).getMonth() + 1 ) + "/" + new Date(request.request_date).getYear() %></div>
                            <div>
                                <button data-id="<%= request.id %>"  class="bg-blue-400 hover:bg-blue-500 text-sm px-4 openPopup">a/d</button>
                            </div>
                        </div>
                        <!-- End row component -->
                        <% counter++; %>
                    <% }) %>
                <% } %>

                <!-- Popup Overlay -->
                <div id="popupOverlay" class="fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center">
                    <!-- Popup Content -->
                    <div class="bg-white p-6 rounded shadow-lg w-80 flex flex-col">
                        <div class="flex justify-between">
                            <div class="text-center">Take Action</div>
                            <button id="closePopup">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                        <textarea name="" id="" class="w-full m-2">Reason for action...</textarea>
                        <div></div>
                        <div class="flex justify-center">
                            <button data-id="" id="actionButton" class="bg-red-500 text-white px-4 py-2 rounded actionButtonD">Decline</button>
                            <button data-id="" id="actionButton" class="bg-blue-500 text-white px-4 py-2 rounded self-center ml-5 actionButtonA">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Leave List -->

            <!-- Leave Breakdown -->
            <div id="leaveBreakdown" class="w-4/5 h-full bg-sky-200 p-5">

                <div class="flex items-center gap-5 w-full h-44 p-4">

                    <div class="w-1/4 bg-white h-[70%] flex justify-between items-center">
                        <div class="px-4">
                            <div class="font-extrabold"><%= totalNumberOfRequests %></div>
                            <div class="font-bold">Leaves (All)</div>
                        </div>
                        <div class="bg-sky-400 h-full w-[40%]"></div>
                    </div>

                    <div class="w-1/4 bg-white h-[70%] flex justify-between items-center">
                        <div class="px-4">
                            <div class="font-extrabold"><%= PendingRequests.length %></div>
                            <div class="font-bold">Leaves (Pending)</div>
                        </div>
                        <div class="bg-orange-400 h-full w-[40%]"></div>
                    </div>

                    <div class="w-1/4 bg-white h-[70%] flex justify-between items-center">
                        <div class="px-4">
                            <div class="font-extrabold"><%= RejectedRequests.length %></div>
                            <div class="font-bold">Leaves (Rejected)</div>
                        </div>
                        <div class="bg-yellow-400 h-full w-[40%]"></div>
                    </div>

                    <div class="w-1/4 bg-white h-[70%] flex justify-between items-center">
                        <div class="px-4">
                            <div class="font-extrabold"><%= ApprovedRequests.length %></div>
                            <div class="font-bold">Leaves (Approved)</div>
                        </div>
                        <div class="bg-cyan-400 h-full w-[40%]"></div>
                    </div>

                </div>

                <div class="w-full mt-5 flex gap-5">

                    <div class="w-full bg-white rounded-lg shadow-lg flex items-center justify-center h-96">
                        <div class="w-64 h-64 rounded-full bg-sky-200 flex flex-col items-center justify-center">
                            <div>
                                Total number of staffs
                            </div>
                            <div class="text-xl font-bold">
                                <%= totalNumberOfEmployees %>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End Leave Break Down  -->

        </div>

    </div>
</body>
<script>
    const leaveForm = document.querySelector("#leaveForm")
    const dashboardContent = document.querySelector("#dashboardContent")
    const dashboardButton = document.querySelector("#dashboardButton")
    const leaveFormButton = document.querySelector("#leaveFormButton") 
    const leaveBreakdown = document.querySelector("#leaveBreakdown")
    const leaveBreakdownButton = document.querySelector("#leaveBreakdownButton")

    dashboardButton.addEventListener("click", ( event ) => {
        event.preventDefault()
        leaveForm.classList.add("hidden")
        leaveBreakdown.classList.add("hidden")
        dashboardContent.classList.remove("hidden")
    })

    leaveFormButton.addEventListener("click", ( event ) => {
        event.preventDefault()
        dashboardContent.classList.add("hidden")
        leaveBreakdown.classList.add("hidden")
        leaveForm.classList.remove("hidden")
    })

    leaveBreakdownButton.addEventListener("click", ( event ) => {
        event.preventDefault()
        dashboardContent.classList.add("hidden")
        leaveForm.classList.add("hidden")
        leaveBreakdown.classList.remove("hidden")
    })



    const ActionButtons = document.querySelectorAll(".openPopup")

    ActionButtons.forEach(button => {
         // JavaScript to handle opening and closing the popup
    button.addEventListener('click', function() {
            document.getElementById('popupOverlay').classList.remove('hidden');

            document.querySelectorAll('.actionButtonA').forEach(actionButton => {
                actionButton.setAttribute('data-id', button.getAttribute('data-id'))
                actionButton.addEventListener('click', async (event) => {
                    event.preventDefault()
                    try {
                        const response = await fetch(`/accept/${actionButton.getAttribute('data-id')}`)
                        const responseJSON = await response.json()
                        location.reload(true)
                        // console.log(responseJSON)
                    } catch (error) {
                        alert('Error while performing the action')
                    }
                })
            })

            document.querySelectorAll('.actionButtonD').forEach(actionButton => {
                actionButton.setAttribute('data-id', button.getAttribute('data-id'))
                actionButton.addEventListener('click', async (event) => {
                    event.preventDefault()
                    try {
                        const response = await fetch(`/reject/${actionButton.getAttribute('data-id')}`)
                        const responseJSON = await response.json()
                        location.reload(true)
                        // console.log(responseJSON)
                    } catch (error) {
                        alert('Error while performing the action')
                    }
                })
            })
        });
    })

    document.getElementById('closePopup').addEventListener('click', function() {
        document.getElementById('popupOverlay').classList.add('hidden');
        });

    
</script>
</html>